body {
    padding: 100px;
}

.form-area {
    margin-top: 50px;
    padding: 20px 30px;
    box-shadow: 10px 10px 30px gray;
    border-radius: 13px;
}

.form-area h4 {
    font-size: 40px;
    color: green;
    padding: 10px;
    text-transform: capitalize;
}

.form-area input {
    padding: 10px;
    color: honeydew;
    background-color: pink;
    border-radius: 10px;
}

#transition-area {
    display: none;
}

.form-area input:hover {
    background-color: ghostwhite;
    color: hotpink;
}

.form-area button {
    width: 100px;
    height: 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15 gray;
    border: none;
}

.form-area button:hover {
    color: indianred;
    background-color: mediumturquoise;
}

#transition-area {
    display: none;
}

.common {
    margin: 0px 20px;
    padding: 20px 30px;
    border-radius: 10px;
}

.deposit {
    background-color: hotpink;
}

.withdraw {
    background-color: salmon;
}

.balance {
    background-color: sandybrown;
}

.addCalection {
    height: 250px;
}